@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');   

*{
    margin:0;
    padding:0;
}

:root{
   --secondary : #FFC436;
   --third: rgb(42, 117, 215);
}
::selection {
    color: var(--third);
    background: var(--secondary);
}
body{
    background-color: rgb(24, 24, 24);
    color:white;
}
ul{
    display:flex;
    padding: 2.5rem 3rem;
}
header nav ul li{
    font-size: 1.5rem;
    padding-right:4rem;
    list-style: none;
}
header nav ul li a{
    font-family: 'Tilt Prism', cursive;
    transition: 100ms ease-in;
    color:#ffc642;
    text-decoration: none;
}
header nav ul li a:hover{
    color:rgb(255, 136, 0);
}


/* Main Section */
.main{
    text-align: center;
}
.main h2{
    font-family: 'Tilt Prism', cursive;
    font-size: 4rem;
    color: var(--secondary);
    text-align: center  ;
}
.main .inner{
    padding: 1rem 2rem 0rem;
}
.main .inner .inner-one p{
    font-family: 'Noto Serif SC', serif;
    font-size: 1.4rem;
    line-height: 4rem;
    padding:0rem 3rem;
}
.main .inner .inner-one h3{
    margin:1.6rem;
    text-align: center;
    font-family: 'Tilt Prism', cursive;
    font-size: 2rem;

    color: var(--secondary);
}
.main .inner .inner-one .explore-btn button{
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;
    margin:1.5rem 0rem;
    background-color: transparent;
    border: 1px solid var(--secondary);
    border-radius: 7px;
    color: var(--secondary);
    font-size: 1.5rem;
    padding:1rem 3.3rem; 
    transition: 100ms ease-in-out;
}
.main .inner .inner-one .explore-btn button:hover{
    background-color: var(--secondary);
    color: black;
}
.main .inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Image */
.main .inner img{
    width:600px;
    height: 480px;
}

/* Footer CSS */
footer{
    font-size: 1.2rem;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    background-color: var(--secondary);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: black;
    padding:1rem
}
footer a{
    color:rgb(192, 37, 37);
    text-decoration: none;
    text-decoration: underline;
    transition: 100ms ease-in-out;
}
footer a:hover{
    color:white;
}

/* Media Queries for mobile phones */
@media only screen and (max-width: 1000px) {
    ul{
        display:flex;
        padding: 1.5rem 2rem;
    }
    header nav ul li{
        font-size: 1.3rem;
        padding-right:2rem;
    }
    /* Hide the image */
    .main .inner img{
        display: none;
    }
    .main h2{
        padding:1rem 2rem;
        font-size: 2rem;
    }
    .main .inner .inner-one p{
        font-size: 1rem;
        line-height: 3rem;
        padding:0rem .3rem;
    }
    .main .inner .inner-one h3{
        margin:1.3rem;
        font-size: 1.5rem;
    
        color: var(--secondary);
    }
    .main .inner .inner-one .explore-btn button{
        margin:1.5rem 0rem;
        font-size: 1.2rem;
        padding:.6rem 1.3rem; 
    }
    footer {
        font-size: 1rem;
        padding:.8rem;
    }
}
