<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- External CSS Link -->
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('recommendation')}}">Recommendation</a></li>                       
            </ul>
        </nav>
    </header> 

    <footer> Developed by <a href="https://github.com/Vignesh227" target="_blank">Vignesh</a> 💛</footer>

</body>
</html>