<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Book recommendation</title>

    <!-- External CSS Link -->
    <link rel="stylesheet" href="/static/css/index.css" >

    <!-- Logo Link -->
    <link rel="icon" href="/static/images/book-logo.png">
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('recommendation')}}">Recommendation</a></li>                       
            </ul>
        </nav>
    </header> 

    <section class="main">
        <h2>Discover Your Next Great Read</h2>

        <div class="inner">

            <div class="inner-one">
                <p>Explore a curated collection of books that span various genres and themes. 
                    Whether you're a fiction enthusiast, a non-fiction seeker, or just looking for 
                    something new, we have a recommendation for you.
                </p>
                <h3>Start Exploring Now</h3>
                <p>Begin discovering your next favorite book!</p>
                <a href="{{url_for('recommendation')}}" class="explore-btn"><button>Explore</button></a>    
            </div>
            
            <img src="/static/images/books-3.png" alt="books=image">

        </div>
        
    </section>

    <footer> Developed by <a href="https://github.com/Vignesh227" target="_blank">Vignesh</a> 💛</footer>

</body>
</html>